body {
 color: #CAC7A7;
 margin: 09px;
 background-color: #111111;
}

.container {
  position: relative;
}

#canvas {
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
}

#draw-area, #p5canvas, .content {
  position: absolute;
  top: 0;
  left: 0;
}

#p5canvas {
  z-index: -1;
}

#draw-area {
  z-index: 0;
}
